# dependencies
node_modules/
client/node_modules/
server/node_modules/

# builds
client/dist/
server/dist/

# env
.env
client/.env
server/.env

# logs
*.log
server/logs/

# system
.DS_Store

# archives
*.zip
